@model DynamicForm.Models.Response

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Response</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespondentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespondentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmittedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Form)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Form.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.Text)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
